*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: rgb(52, 112, 176); 
}  
.login{
    width: 80%;
    border: solid white;
    border-radius: 5%;
    margin: 45px;
    background: radial-gradient(circle at top left, #a9bdea, white)
}
.containerForm{
    display: inline-block;
}

.email{
    text-align: left;
    margin: 25px;
    display: flex;
    justify-content: space-around;
}
.mainImage{
    margin-top: 25px;
}